[workspace]
members = [
    "examples",
    "examples/opfs",
    "fusio",
    "fusio-dispatch",
    "fusio-object-store",
    "fusio-parquet",
]
resolver = "2"

[workspace.package]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/tonbo-io/fusio"

[workspace.dependencies]
bytes = { version = "1.7" }

[profile.bench]
codegen-units = 1
lto = "thin"
