[package]
description = "the object_store integration of Fusio."
edition.workspace = true
license.workspace = true
name = "fusio-object-store"
repository.workspace = true
version = "0.2.1"

[dependencies]
async-stream = { version = "0.3" }
fusio = { version = "0.3.0", path = "../fusio", features = [
    "bytes",
    "dyn",
    "object_store",
    "tokio",
] }
futures-core = { version = "0.3" }
futures-util = { version = "0.3" }
object_store = { version = "0.11" }
parquet = { version = "53.1.0", features = ["async", "object_store"] }
tokio = { version = "1", features = ["full"] }

[dev-dependencies]
bytes = { workspace = true }
object_store = { version = "0.11", features = ["aws"] }
